{% extends 'base_embed.html.twig'  %} 

{% block title %}Embed Api - Vue2 {% endblock %}

{% block body %}
<div style="display:inline-block; weight:300px; height:300px; border:1px solid green;">Je suis le contenue de base vue 2</div>

{% endblock %}