<!DOCTYPE html>
<html>
{# comme le layout  #}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Embed{% endblock %}</title>
        {# {% block stylesheets %}{% endblock %} #}
        {# pour le momment on l'utilise pas  #}
    </head>
    <body>
        {% block body %}{% endblock %}

    </body>
</html>
